@model SimpleBlog.Models.BlogPost

<style>

</style>

<article class="border rounded-2 p-4 bg-card mb-5">
    <header>
        <h2 class="">
            @Model.Title
        </h2>
        <p class="blog-post-meta">
            Posted on @Model.CreatedDate.ToString("MMMM dd, yyyy")
            @if (Model.Author != null)
            {
                <span>by @Model.Author.UserName</span>
            }
        </p>
    </header>

    <div class="blog-post-content">
        @if (Model.Content != null && Model.Content.Length > 200)
        {
            @Html.Raw(Model.Content.Substring(0, 200) + "...")
        }
        else
        {
            @Html.Raw(Model.Content)
        }
    </div>

    <footer>
        <p class="blog-post-meta">
            Last updated: @Model.UpdatedDate.ToString("MMMM dd, yyyy")
        </p>
    </footer>
</article>